body{
  position: relative;
  display: inline-block;
  background: linear-gradient(to right, #301dc1, #16bf2b); 
}

.Tela{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

.geral {
    background-color: rgb(19, 19, 121);
    width: 250px;
    height:780px;
    position:relative;
    border-radius:15px ;
    bottom: 12px;
}

.proff  {
    color: white;
    position: relative;
    top: -20px;
    left: 27px;

}

.foto {
    position: relative;
    top: -35px;
    left: 24px;
    border-radius: 5px;
}

.info {
    color: white;
    position: relative;
    top: 1px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    left: 10px;
}

.info2 {
    position: relative;
    color: white;
    top: -45px;
}

.impo{
    background-color: blueviolet;
}

.impo2 {
    background-color: black;
    border-radius: 5px;
}

.link {
    color: white;
    
}

.info2 p {
    border-radius: 5px;
    position: relative;
    
}

.cont1{
    position:relative;
    left: 8cm;
    width: 800px;
    bottom: 750px;
    z-index: 2;
}
.l1{
    border-radius: 5px;
    background-color: black;
    width: 174px;
    color: white;
}

.l2{
    border-radius: 5px;
    background-color: black;
    width: 40px;
    color: white;   
}

.lin {
    position: relative;
    width: 15cm;
    right: 3cm;
}

.lin2{

    width: 26.4cm;
}

.cont2 {
    position: relative;
    bottom: 750px;
    left: 8cm;
    width: 1000px;
}

label {
    position: absolute;
    display: flex;
    width: 1000px;
}

.exp {
    position: relative;
    bottom: 740px;
    left: 8cm;
    text-align: left;
}

.grad {
    position: relative;
    top: 20px;
    right: 3cm;
    font-family: Arial, Helvetica, sans-serif;
}

.foto2 {
    position: relative;
    left: 21cm;
    bottom: 730px;
}

.comp{
    position: relative;
    left: 8cm;
    bottom: 730px;
    width: 1000px;
}

.exp li{
    margin: 8px;
    padding: 1px;
}

.col {
    background-color: black;
    color: white;
    border-radius: 5px;
    transition: tranform 0.3s;
}

.col:hover {
    transform:scale(1.02);
}

.cert {
    position: relative;
    left: 8cm;
    bottom: 690px;
    width: 1000px;
}

.exp2 {
    position: relative;
    left: 8cm;
    bottom: 690px;
}

.exp3 {
    position: relative;
    left: 8cm;
    bottom: 635px;
}

.exp4{
    position: relative;
    left: 8cm;
    bottom: 565px;
}

.exp2 li{
    margin: 8px;
    padding: 1px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: tranform 0.3s;
    color: white;
    background-color: #000;
}

.exp3 li{
    margin: 8px;
    padding: 1px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: tranform 0.3s;
    color: white;
    background-color: #000;
}

.exp4 li{
    margin: 8px;
    padding: 1px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: tranform 0.3s;
    color: white;
    background-color: #000;
}

.ex1{
    position: relative;
    left: 8cm;
    bottom: 690px;
    text-align: justify;
    width: 1000px;
    text-align: justify;
}

.hab {
    position: relative;
    left: 8cm;
    bottom: 510px;
    width: 1000px;
}
.exp5{
    position: relative;
    left: 9cm;
    bottom: 500px;
}

.exp5 li{
    position: relative;
    margin: 8px;
    padding: 1px;
    left: 25px;
    border: 1px solid #000;
    border-radius: 5px;
    transition: tranform 0.3s;
    color: white;
    background-color: #000;
}

.geral2 {
    background-color: rgb(19, 19, 121);
    width: 250px;
    height: 359px;
    position:relative;
    bottom: 23cm;
    border-radius: 15px;
    color: white;
}

.geral2 a {
    color: white;
}

.impo3 {
    background-color: black;
    text-align: center;
}

.foto3 {
    position: relative;
    left: 24.1cm;
    bottom: 57.4cm;
    z-index: -1;
}

.foto4{
    position: relative;
    bottom: 42cm;
    left: 0.1cm;
}

.foto5 {
    position:relative;
    bottom: 38.1cm;
    left: 5px;
}

.foto6 {
    position: relative;
    bottom: 59cm;
    left: 0.4px;
}

.nac{
    position: relative;
    bottom: 72.7cm;
    left: 8.1cm;
}

.temp{
    position: relative;
    bottom: 65cm;
    left: 30cm;
}

.geral3 {
    position: relative;
    background-color:  rgb(19, 19, 121);
    width: 36.4cm;
    height: 1cm;
    bottom: 40.4cm;
    right: 1cm;
}
